body {
    margin: 0;
}

.container {
    display: flex;
    height: 100%;

    .content-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .canvas-container {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        canvas {
            position: absolute;
            inset: 0px;
        }

        .editframe-refresh {
            position: absolute;
            z-index: 2;
            left: 5px;
            top: 5px;

            .refresh {
                position: relative;
                background: #777777de;
            }
        }

        .lds-ring {
            width: 10%;
        }
    }

    .content-header {
        height: 150px;
        display: flex;
        justify-content: center;
    }

    .frame-container {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        #frame {
            height: 100%;
        }
    }

    .state-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: solid 1px #000;
        border-radius: 5px;
        margin-left: 5px;
        min-width: 150px;
        position: relative;

        .state {
            display: flex;
            align-items: center;
            padding: 5px;

            .active-color {
                background: rgb(9, 170, 11);
                width: 15px;
                border-radius: 50%;
                aspect-ratio: 1;
                margin-right: 5px;
                border: solid 1px #000;
            }
        }

        .lds-ring {
            transform: scale(25%);
        }

        .state-container-footer {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            position: absolute;
            bottom: 0;
            width: calc(100% - 10px);
        }
    }
}

.refresh {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    background: #77777700;
    padding: 4px;

    i {
        color: #fff;
    }

    &.loading {
        animation: rotate 1s linear infinite;
    }

    &:hover {
        background: #77777788;
        transition: all 0.2s ease;
    }
}


.menu-container {
    width: 65px;
    flex-shrink: 0;
}

.menu {
    display: flex;
    position: fixed;
    right: 0;
    height: 100%;
    transition: transform 0.5s ease;
    max-width: calc(100vw - 40px);
    z-index: 2;
    border-left: solid 1px #000;

    .expand {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        border: solid 1px #000;
        border-right: none;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        background: linear-gradient(90deg, #e9e9ed 30%, #ffffffeb);
        transition: all 0.3s ease;

        i {
            transition: all 0.2s ease;
        }
    }

    .menu-content {
        background: #ffffffeb;
        padding: 5px;
        width: calc(100% - 10px);
    }

    &.closed {
        transform: translateX(100%);

        .expand i {
            transform: rotate(180deg)
        }
    }
}

@media only screen and (max-device-width: 500px) {
    .menu {
        width: 100vw;
        max-width: 100vw;

        &:not(.closed) {
            .expand {
                transform: translateX(0%);
                border-right: solid 1px #000;
                border-left: none;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                background: linear-gradient(90deg, #ffffffeb, 70%, #e9e9ed);
            }
        }

        .edit {
            .title {
                padding-left: 40px;
            }
        }
    }
}

.settings {
    height: 100%;
    border: solid 1px #000;
    padding: 5px;
    border-radius: 5px;
    overflow: auto;

    .setting {
        width: 100%;

        .setting-title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .setting-body {
            display: flex;

            & > *:not(:last-child) {
                margin-right: 10px;
            }
        }

        input {
            width: 100%;
        }

        button {
            width: 50px;
        }

        &:not(:last-child){ 
            margin-bottom: 20px;
        }
    }

    .debug-container {
        border: solid 1px #000;
        border-radius: 5px;
        padding: 5px;

        .debug-header {
            display: flex;
            justify-content: space-between;
    
            & > div {
                display: flex;
                
                .debug {
                    width: 55px;
                    height: 27px;
                    margin-right: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
    
                    .lds-ring {
                        transform: scale(50%)
                    }
                }
            }
        }
        
        .debug-state-results {
            display: flex;       
            justify-content: center; 
            border: solid 1px #000;
            padding: 5px;
        }

        .debug-canvas-container {
            display: flex;
            margin-top: 5px;
            position: relative;
    
            .canvas-container {
                width: 100%;
                position: relative;
                flex-direction: column;    
                
                &:not(:last-child) {
                    margin-right: 5px;
                }
    
                canvas {
                    width: 100%;
                    height: 100%;
                    border: solid 1px #000;
                    border-radius: 5px;
                    position: relative;
                    inset: auto;                    
                }

                .lds-ring {
                    transform: scale(50%)
                }

                .debugstate-statecanvas-container {
                    display: flex;
                }
            }
        }

        & > *:not(:last-child) {
            margin-bottom: 5px;
        }

        .debug-properties-container {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            min-height: 40px;

            &.debug-settings {
                flex-wrap: wrap;
                border: solid 1px #000;
                padding: 5px;
                border-radius: 5px;

                & > div {
                    width: 100%;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }

            & > div {
                display: flex;
                align-items: flex-end;
            }

            .debug-property {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            .debug-test {
                width: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                margin-left: 5px;
                position: relative;
                cursor: pointer;

                .lds-ring {
                    transform: scale(50%)
                }
            }

            .debug-active-color {
                background: rgb(9, 170, 11);
                height: 50%;
                aspect-ratio: 1;
                margin-right: 5px;
                border: solid 1px #000;
                border-radius: 3px;
            }

            .name {
                margin-right: 5px;
            }

            .power-state {
                display: flex;
                align-items: center;
                margin-right: 10px;

                .state {
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease;

                    &.on {
                        background: green;
                    }

                    &.off {
                        background: red;
                    }
                }
            }

            .ocr-state {
                margin-right: 10px;

                select {
                    height: 100%;
                }

                & > *:not(:last-child) {
                    margin-right: 5px;
                }
            }

            .state-groups {
                .state-group {
                    display: flex;
                    align-items: center;

                    .name {
                        margin-right: 5px;
                    }
                }
            }
        }

        .debug-result {
            &.success { 
                color:green
            }

            &.error {
                color: red
            }
        }
    }    

    .setting-title.schedule-run {
        display: flex;
        justify-content: space-between;

        .refresh-container {
            transform: scale(0.8);
            position: relative;

            .refresh {    
                i {
                    color: #000;
                }
            }
        }        
    }

    .schedule-runs {
        border: solid 1px #000;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        overflow-x: auto;
        max-width: 500px;

        table {
            width: max-content;

            thead {
                background: #efefef;

                th {
                    padding: 5px;
                }

                .date {
                    width: 150px;
                }
            }

            tbody {
                tr {                    
                    background: #ffffff;
                    &:nth-child(even) {
                        background: #f0f0f0;
                    }
                    td {
                        border: none;
                        margin: 0;
                    }
                }
            }
        }

        .run {
            .name {
                font-weight: 700;
            }
        }

        .lds-ring {
            width: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .system-control {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 12px;

        button {
            width: 30px;
            height: 30px;
            aspect-ratio: 1;            
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            
            .lds-ring {
                width: 200%;
                transform: scale(50%) translate(-50%, -5px);

                div {
                    border-color: #fff transparent transparent transparent;
                }
            }

            i {
                color: #fff;
            }
        }

        .reboot {
            background: red;
        }

        .restart {
            background: rgb(0, 162, 255);
        }
    }
}

.btn-container {
    display: flex;
    justify-content: end;

    .spacer {
        height: 100vh;
    }

    &.vertical {
        flex-direction: column;
        height: 100dvh;
    }

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36;
    }

    .btn {
        width: 50px;
        height: 50px;
        margin: calc(min(max(100vw - 250px, 0px) / 360, 1px) * 10);
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;
        border: solid 1px #000;
        border-radius: 3px;

        &.cancel {
            background: #ffd1d1;
        }

        &.confirm {
            background: #afffaf;
        }

        i {
            font-size: 20px;
        }

        .lds-ring {
            width: 80%;
            height: 80%;

            div {
                border-width: 4px;
            }
        }

        &.loading {
            i {
                animation: rotate 1s linear infinite;
            }
        }
    }

    .divider {
        border-left: solid 1px #000;
        margin: 5px 0px;
    }
}

.edit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.config-name {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 0px 5px;
    border: solid 1px #000;
}

.main-crop,
.item-crop {
    border: solid 1px #000;
    border-radius: 5px;
    margin: 0px 5px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;

    .crop-header {
        font-size: 20px;
        padding: 0px 10px;
        border-bottom: solid 1px #000;
        min-height: 30px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        background: #f0f0f0;

        .header-title, .header-action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .header-action {
            margin: 5px 0px;
        }
    }

    .items {
        overflow: auto;
        padding: 5px 5px 0px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .reorder-container {
        display: flex;

        .reorder, .reorder-blank {
            width: 25px;
            aspect-ratio: 1;            
        }

        .reorder.down {
            transform: rotate(180deg);
        }
    }

    .state-properties {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        align-items: flex-end;

        input:not([type=checkbox]) {
            height: 27px;
            width: 70px;
        }

        .sample {
            display: flex;
            justify-content: center;

            .sample-color {
                height: 25px;
                aspect-ratio: 1;
                border: solid 1px #000000;
                background: #efefef;
                border-radius: 3px;
                margin-right: 5px;
            }
        }
    }
}

.item-crop {
    height: 100%;

    &.minimal {
        height: 50%;
    }
}

.main-crop {
    flex-shrink: 0;

    .items {
        height: max-content;
    }
}

.button-item {
    border: solid 1px #000;
    padding: 5px;
    border-radius: 3px;
    transition: all 200ms ease;
    margin-bottom: 5px;

    .header {
        height: 25px;
        margin-bottom: 5px;
        display: flex;

        & > *:not(:last-child) {
            margin-right: 5px;
        }

        input {
            height: 100%;
            width: 100%;
        }
    }

    .body {
        display: flex;

        input[type="color"] {
            width: 100%;
            flex-shrink: 5;
        }

        input:not([type="color"]) {
            width: 100%;
            margin-left: 5px
        }
    }

    &:hover {
        background: #e8f4ff
    }
}

.buttons {
    border: solid 1px #000;
    padding: 5px;
    height: max-content;
    overflow: auto;
}

.config {
    display: flex;
    margin-bottom: 5px;
    border: solid 1px #000;

    .name {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .file-config {
        width: 40px;
        height: 40px;

        label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
        }
    }
}

.close {
    border: none;
    background: red;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 3px;

    i {
        color: white;
    }

    &:hover {
        cursor: pointer;
    }
}

.file-upload {
    width: 100%;
    height: 100%;

    label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
    }
}

.error-message {
    color: red;
    margin-bottom: 5px;
}

.config-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #12121299;

    .window {
        width: 400px;
        height: 500px;
        padding: 10px 15px;
        background: #fff;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin: 5px;

        .title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .list {
            height: 100%;
            box-shadow: inset 0px 0px 3px 0px #000;
            overflow: auto;
            padding: 2px;

            .loader {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 100%;

                .lds-ring {
                    width: 25%;
                }
            }

            .item {
                height: 20px;
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:nth-child(even) {
                    background: #f1f1f1;
                }

                &.selected {
                    background: #c4e2ff
                }

                &:hover {
                    background: #e8f4ff
                }
            }
        }

        .action-container {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            button {
                width: 100px;
                cursor: pointer;
            }
        }
    }
}

.controls {
    display: block;
    flex-shrink: 0;
    width: 65px;
}

.desktop-only {
    display: block;
}

.login {
    width: 250px;
    height: 38px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .field-container {
        display: flex;
        height: 30px;
        margin: 0;

        input {
            height: 100%;
            margin-right: 10px;
            padding: 5px;
        }

        button {
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .lds-ring {
                transform: scale(75%)
            }
        }
    }

    .error {
        color: #ff5151;
    }
}

.actions {
    overflow: auto;

    .section {
        border: solid 1px #000;
        border-radius: 5px;
        background: #fff;
        overflow: hidden;
        
        .section-header {
            font-size: 20px;
            padding: 5px;
            border-bottom: solid 1px #000;
            margin-bottom: 5px;
            background: #f0f0f0;

            .header-group {
                display: flex;
                justify-content: space-between;
            }
        }

        .section-body {
            padding: 5px;

            .pairing-container {
                display: flex;
                justify-content: space-between;
                padding: 3px 5px;
                border: solid 1px #000;
                border-radius: 3px;

                .state-properties {
                    display: flex;

                    div {
                        display: flex;
                        align-items: center;

                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }

                .model-select {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-height: 100%;
                    position: relative;
                    min-width: 45px;
                    height: 19px;

                    .lds-ring {
                        transform: scale(35%);
                    }
                }

                .name {
                    margin-right: 5px;
                }

                .trigger {
                    width: 58px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .lds-ring {
                        transform: scale(50%)
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                .equation-container {
                    width: 100%;

                    .equation-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .name {
                        font-size: 18px;
                        margin-bottom: 7px;
                    }

                    .operations, .equation {
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 5px;

                        & > button:not(:last-child) {
                            margin-right: 5px;
                        }                        
                    }

                    .operations {
                        overflow-x: auto;
                        width: 100%;
                        flex-wrap: nowrap;

                        .operation {
                            flex-shrink: 0;
                        }
                    }

                    .divider {
                        margin: 0px 5px;
                        border-left: solid 1px #000;
                    }

                    .equation {
                        min-height: 50px;
                        border: solid 1px #000;
                        border-radius: 3px;
                        padding: 5px;
                        align-content: flex-start;

                        .operation {
                            margin-bottom: 3px;
                        }
                    }

                    .operation {
                        min-width: 25px;
                        height: 25px;
                        border-radius: 15px;
                        cursor: pointer;
                    }           
                    
                    .test-equation {
                        display: flex;
                        align-items: center;

                        .test {
                            margin-right: 10px;
                            width: 40px;

                            .lds-ring {
                                transform: scale(25%)
                            }
                        }

                        .power {
                            &.on {
                                color: green;
                            }

                            &.off {
                                color: red;
                            }
                        }
                        .error {
                            color: red;
                        }
                    }
                }

                .group-container {
                    width: 100%;

                    .group-header {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        input {
                            width: 100%;
                            margin-right: 5px;
                        }

                        .close {
                            margin-left: 5px;
                        }
                    }

                    .group-body {
                        display: flex;
                        justify-content: space-between;

                        .add-state-container {
                            .name {
                                font-size: 18px;
                            }

                            .add-state {
                                margin-left: 5px;
                            }
                        }
                    }

                    .states {
                        border: solid 1px #000;
                        border-radius: 5px;
                        margin-top: 5px;
                        overflow: hidden;

                        .state {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 5px;

                            &:nth-child(even) {
                                background: #f8f8f8
                            }
                        }
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.macros-container {    
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.2s ease;
    background: #ffffffd6;
    padding: 10px 0px;
    overflow-x: auto;

    .macros-inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        min-width: 100%;
    }

    &.hidden {
        transform: translateY(100%);
    }

    &.show {
        transform: translateY(0%);
    }

    .btn {
        margin: 0px 10px;
    }
}

.macros {
    transition: all 0.2s ease;
    &.expand {
        i {
            transform: rotate(-90deg)
        }
    }

    &.retract {
        transform: translateY(-70px);
        i {
            transform: rotate(90deg)
        }
    }
    
    i {
        transition: all 0.1s ease;
    }
}

.icons-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000075;
    display: flex;
    align-items: center;
    justify-content: center;

    .icons-container {
        width: 400px;
        height: 80%;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 6px;

        .icons-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0px;

            .name {
                font-size: 24px;
            }
        }

        .icons {
            height: 100%;
            border: solid 1px #000;
            border-radius: 3px;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            button {
                width: 40px;
                height: 40px;
                cursor: pointer;
                margin: 2px;

                i {
                    transform: scale(1.5);
                }
            }

            &::-webkit-scrollbar {
                width: 2px;
            }
             
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
             
            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
                border-radius: 1px;
            }
        }
    }
}

.schedules {
    overflow: hidden auto;

    .schedule {
        border: solid 1px #000;
        border-radius: 5px;
        transition: all 0.2s ease;

        &.disabled {
            opacity: 0.3;
            background: #efefef;
        }

        .schedule-title {
            display: flex;
            align-items: center;
            padding: 5px;

            & > *:not(:last-child) {
                margin-right: 5px;
            }

            input[type=text] {
                width: 100%;
            }

            input[type=checkbox] {
                cursor: pointer;
            }

            .icon-select {
                height: 24px;
                width: 24px;
                cursor: pointer;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                i {
                    transform: scale(1.3);
                }
            }
        }

        .schedule-body {
            padding: 5px;

            .datetime-select {
                display: flex;

                .date-select {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    .day {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        background: #a7a7a7;
                        opacity: 0.4;

                        &.selected {
                            background: #f0f0f0;
                            opacity: 1;
                        }
                    }
                }

                input[type=time] {
                    width: 100px;
                }
            }

            .schedule-state {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .power-state {
                    display: flex;
                    height: 25px;
                    align-items: center;

                    .name {
                        margin-right: 5px;
                    }

                    .state {
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all 0.2s ease;

                        &.on {
                            background: green;
                        }

                        &.off {
                            background: red;
                        }
                    }
                }

                .state-group {
                    display: flex;

                    & > *:not(:last-child) {
                        margin-right: 5px;
                    }

                    input[type=number] {
                        width: 50px;
                    }
                }

                & > *:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }

        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #86c6ff;
    position: relative;
    width: 100%;
    height: 100%;

    .btn {
        background: #ffffff82;
    }

    .dial-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        position: relative;

        .dial {
            max-width: 500px;
            width: 90%;
            aspect-ratio: 1;
            position: relative;

            .track, .arc {
                position: absolute;
                width: 100%;
            }
        }

        .temperature {
            position: absolute;
            font-size: calc(min(100vw / 500, 1px) * 120);
            font-family: sans-serif;
            color: white;

            .lds-ring {
                width: calc(min(100vw / 500, 1px) * 120);
            }
        }

        .mode {
            position: absolute;
            font-size: calc(min(100vw / 500, 1px) * 24);
            font-family: sans-serif;
            color: white;
            bottom: 0;
            border-radius: 15px;
            background: #fff3;
            padding: 5px 15px;
            border: none;
            min-width: 100px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .lds-ring {
                width: calc(min(100vw / 500, 1px) * 25);
            }
        }

        .point {
            position: absolute;
            width: calc(min(100vw / 500, 1px) * 30);
            aspect-ratio: 1;
            border-radius: 50%;
            background: #eee;
            border: solid calc(min(100vw / 500, 1px) * 3) #cfcfcf;
            outline: solid calc(min(100vw / 500, 1px) * 10) #eee;
            box-shadow: 0px 0px calc(min(100vw / 500, 1px) * 13) calc(min(100vw / 500, 1px) * 5) #000;
            cursor: pointer;

            &.disabled {
                display: none;
            }
        }
    }

    .macros-container {
        background: #ffffff47;

        .btn {
            background: #ffffffe0;
        }
    }

    .btn-container.vertical {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}

// @media only screen and (max-width: 920px) {
//     .btn-container:not(.editing) {
//         flex-direction: column;
//     }
// }

@media only screen and (max-device-width: 920px) {
    .desktop-only {
        display: none !important;
    }
}


.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .lds-ring {
        width: 10%;
    }
}

.lds-ring {
    position: relative;
    width: 100%;
    aspect-ratio: 1;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid #3841c5;
        border-radius: 50%;
        animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #3841c5 transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}