body {
    margin: 0;
}

.container {
    display: flex;
    height: 100%;

    .content-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .canvas-container {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        canvas {
            position: absolute;
            inset: 0px;
        }
    }

    .frame-container {
        width: 100%;
        max-height: 150px;
        display: flex;
        justify-content: center;

        .inner-frame {
            position: relative;
        }

        #frame {
            height: 100%;
        }

        .refresh {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            border-radius: 50%;
            background: #77777700;
            padding: 4px;

            i {
                color: #fff;
            }

            &.loading {
                animation: rotate 1s linear infinite;
            }

            &:hover {
                background: #77777788;
                transition: all 0.2s ease;
            }
        }
    }

}

.btn-container {
    display: flex;

    .btn {
        width: 50px;
        height: 50px;
        margin: 10px;
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .lds-ring {
            width: 80%;
            height: 80%;

            div {
                border-width: 4px;
            }
        }
    }

    .divider {
        border-left: solid 1px #000;
        margin: 5px 0px;
    }
}

.edit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.config-name {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 0px 5px;
    border: solid 1px #000;
}

.main-crop,
.item-crop {
    border: solid 1px #000;
    border-radius: 5px;
    margin: 0px 5px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .crop-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding: 0px 10px;
        border-bottom: solid 1px #000;
        height: 30px;
        flex-shrink: 0;
    }

    .items {
        overflow: auto;
        padding: 5px 5px 0px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .state-properties {
        display: flex;
        justify-content: flex-end;
        margin-top: 4px;

        .sample {
            display: flex;

            .sample-color {
                height: 25px;
                aspect-ratio: 1;
                border: solid 3px #efefef;
                background: #efefef;
                border-radius: 3px;
                margin-right: 5px;
            }
        }
    }
}

.item-crop {
    height: 100%;
}

.main-crop {
    flex-shrink: 0;

    .items {
        height: max-content;
    }
}

.button-item {
    border: solid 1px #000;
    padding: 5px;
    border-radius: 3px;
    transition: all 200ms ease;
    margin-bottom: 5px;

    .header {
        height: 25px;
        margin-bottom: 5px;
        display: flex;

        input {
            height: 100%;
            width: 100%;
            margin-right: 5px;
        }
    }

    .body {
        display: flex;

        input[type="color"] {
            width: 100%;
            flex-shrink: 5;
        }

        input:not([type="color"]) {
            width: 100%;
            margin-left: 5px
        }
    }

    &:hover {
        background: #e8f4ff
    }
}

.buttons {
    border: solid 1px #000;
    padding: 5px;
    height: max-content;
    overflow: auto;
}

.config {
    display: flex;
    margin-bottom: 5px;
    border: solid 1px #000;

    .name {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .file-config {
        width: 40px;
        height: 40px;

        label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
        }
    }
}

.close {
    border: none;
    background: red;
    height: 100%;
    aspect-ratio: 1;

    i {
        color: white;
    }

    &:hover {
        cursor: pointer;
    }
}

.file-upload {
    width: 100%;
    height: 100%;

    label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
    }
}

.error-message {
    color: red;
    margin-bottom: 5px;
}

.config-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #12121299;

    .window {
        width: 400px;
        height: 500px;
        padding: 10px 15px;
        background: #fff;
        border-radius: 3px;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .list {
            height: 100%;
            box-shadow: inset 0px 0px 3px 0px #000;
            overflow: auto;
            padding: 2px;

            .loader {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 100%;
            }

            .item {
                height: 20px;
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:nth-child(even) {
                    background: #f1f1f1;
                }

                &.selected {
                    background: #c4e2ff
                }

                &:hover {
                    background: #e8f4ff
                }
            }
        }

        .action-container {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            button {
                width: 100px;
                cursor: pointer;
            }
        }
    }
}

.controls {
    display: block;
}

.desktop-only {
    display: block;
}

.login {
    width: 250px;
    height: 38px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .field-container {
        display: flex;
        height: 30px;

        input {
            height: 100%;
            margin-right: 10px;
            padding: 5px;
        }

        button {
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .lds-ring {
                transform: scale(75%)
            }
        }
    }

    .error {
        color: #ff5151;
    }
}

@media only screen and (max-width: 920px) {
    .btn-container:not(.editing) {
        flex-direction: column;
    }
}

@media only screen and (max-device-width: 920px) {
    .desktop-only {
        display: none !important;
    }
}

.loader-blink,
.loader-blink:before,
.loader-blink:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader-blink {
    color: #3841c5;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader-blink:before,
.loader-blink:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader-blink:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader-blink:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}


.lds-ring {
    position: absolute;
    width: 10%;
    aspect-ratio: 1;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid #3841c5;
        border-radius: 50%;
        animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #3841c5 transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}