body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

button {
    cursor: pointer;
}

#root {
    width: 100%;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#cursor-icon {
    display: none;
    position: fixed;
    width: 32px;
    height: 32px;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
    pointer-events: none;
}

#buffer {
    position: absolute;
    display: none;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .menu {      
        display: flex;
        justify-content: center;  
        border-bottom: solid 1px;
        padding: 8px;

        .menu-container {
            display: flex;
            gap: 32px;
            width: 100%;
            max-width: 800px;
        }

        button {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;      
            border: solid 1px #000;
            border-radius: 4px;
            transition: all 0.3s ease;

            &.text {
                font-size: 24px;
                font-family: math;
                font-weight: 600;
            }
            
            i {
                font-size: 20px;
            }
        }

        .group {
            display: flex;
            gap: 8px;
        }

        .play-group {
            width: 100%;
            display: flex;
            justify-content: end;
        }

        .live {
            color: #b70000;
            background: #ff000024;
            border-color: red;
        }

        .play {
            color: green;
        }

        .stop {
            color: red;
        }

        img {
            width: 20px;
        }
    }

    .viewer-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;

        .layers {
            height: 100%;
            max-width: 175px;
            min-width: 175px;
            background: #f7f7f7;
            padding: 0 14px 0 8px;
            overflow: auto;
            position: relative;
            
            .layer-container {
                position: absolute;
                transition: top 0.2s ease;

                .layer {            
                    height: 100px;
                    width: 170px;
                    background: #d3d3d3;
                    border: solid 1px #000;
                    border-radius: 18px;
                    display: flex;
                    overflow: hidden;
                    padding: 0;
                    transition: outline 0.1s ease;
                    outline: solid 0px #fff;       
                    z-index: 1;
                    position: relative;

                    &.hidden {
                        opacity: 0.2;
                        outline: none !important;
                        z-index: 0;

                        button, .handle {
                            opacity: 0;
                        }
                    }

                    &.floating {
                        position: fixed;                        
                        z-index: 10;
                        transition: none;
                    }

                    button {
                        border: none;
                        width: 100%;
                    }

                    &.selected {
                        outline: solid 2px #000;
                    }

                    img {
                        max-width: 122px;
                        max-height: 90%;
                        border: none;
                        margin: auto;
                    }

                    .handle {
                        margin: -6px 0;
                        width: 30px;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #c9c9c9;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        position: relative;
                        z-index: 1;

                        .grab-point {
                            z-index: 1;
                            
                            i {
                                font-size: 17px;                    
                            }
                        }
                    }
                }
            }
        }
    }

    .canvas-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding-top: 8px;
    }

    .popover {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #00000087;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .calibrate {
        background: #fff;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 8px;               

        .controls {
            display: flex;
            gap: 12px;

            .control-section {
                display: flex;
                flex-direction: column;
                align-items: center;

                .section-title {
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 12px;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    input {
                        width: 50px;
                    }
                }

                .control-container {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: solid 1px;
                    border-radius: 4px;
                    padding: 4px;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            width: 40px;
                            height: 40px;
                            margin: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .spacer {
                            width: 40px;
                            height: 40px;
                            margin: 4px;
                        }
                    }
                }
            }
        }
    }

    .settings {
        position: fixed;      
        display: flex;
        flex-direction: column;  
        right: 0;
        background: #fff;        
        height: 100%;
        width: 300px;
        box-shadow: 0 0 5px 4px #00000014;
        transition: all 0.5s ease;
        transform: translateX(100%);
        z-index: 10;

        &.open {
            transform: translateX(0)
        }
        
        .settings-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 12px 24px;

            .settings-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
                height: 100%;

                .setting {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 30px;
                    padding: 0 8px;

                    input {
                        width: 60px;
                    }

                    .switch {
                        transform: scale(0.7) translateX(12px);
                    }
                    &:nth-child(2n-1) {
                        background: #efefef;
                    }
                }
            }
        }
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        margin: 12px 0;
    }

    .actions {
        display: flex;
        gap: 12px;
        justify-content: space-between;

        button {
            height: 30px;
            width: 70px;
            border: none;
            border-radius: 4px;
            font-weight: 700;
        }

        .save {
            background: #00d300;
            color: #fff;

            img {
                width: 20px;
            }
        }

        .cancel {
            background: red;
            color: #fff;
        }
    } 

    .floating-menu {
        position: fixed;
        z-index: 10;
        background: #fff;
        border-radius: 10px;
        padding: 6px 12px;
        display: flex;
        flex-direction: row-reverse;
        //overflow: hidden;
        box-shadow: 2px 2px 6px 0px #00000038;
        transform: translateX(-100%);

        .handle {
            margin: -6px -12px -6px 0;
            width: 30px;
            min-width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #c9c9c9;
            margin-left: 12px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: relative;
            z-index: 1;            

            .close-cover {
                position: absolute;
                top: 8px;
                left: 0;
                background: #c9c9c9;
                box-shadow: 0px -3px 3px -3px #0000005c;
                width: 100%;
                height: 22px;

                &:hover {
                    .close {
                        transform: translateY(-20px);
                    }
                }

                .close {
                    position: relative;
                    background: red;
                    color: #fff;
                    border: none;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    width: 22px;
                    height: 21px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: -1;
                    left: 3px;
                    transition: all 0.15s ease;
                    transform: translate(0px, -4px);                    
                    box-shadow: 2px 2px 3px 0 #00000021;
                    font-size: 24px;
                }
            }

            .grab-point {
                z-index: 1;
                i {
                    font-size: 17px;                    
                }
            }
        }

        .body {
            button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 8px;

                .text-parameters {
                    display: flex;
                    gap: 8px;
                }
                
                textarea {
                    max-width: calc(-100px + 100vw);
                }
            }

            .shapes {
                display: flex;
                gap: 8px;
                width: calc(min(100vw - 100px, 250px));
                max-height: 100px;
                margin-bottom: 8px;
                flex-wrap: wrap;
                overflow: auto;
                outline: solid 1px #000;
                padding: 8px;
                border-radius: 8px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .actions {
                justify-content: flex-end;
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.switch.selected {
    background-color: #2196F3;
}

.switch:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch.selected:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

.spinning {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}